body{
	background: #6ed8de; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#6ed8de, #C3F0F2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#6ed8de, #C3F0F2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#6ed8de, #C3F0F2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#6ed8de, #C3F0F2); /* Standard syntax */
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding-left: 40px;
    padding-right: 40px;
    background-attachment: fixed;
    min-width: 590px;
}

.nav{
}

@font-face{
	font-family: Venera;
	src: url(Venera-900.otf);
}

.header{
	font-family: "Venera", Tahoma, Verdana, sans-serif;
	text-align: center;
	color: #eaf9fa;
	font-weight: bolder;
	font-size: 68px;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #279da5;
	margin: 0;
	margin-top: 15px;
	letter-spacing: 5px;
}

nav ul ul {
	display: block;
	font-family: Tahoma, Verdana, sans-serif;
	list-style: none;
	text-align: left;
	position: absolute;
	height: 0%;
	background-color: #eaf9fa;
	text-overflow: none;
	min-width: 130px;
	width: 230px;
	margin-top: 8px;
	margin-left:-20px;
	padding: 0 20px;
	padding: 30px;
	border-radius: 0 0 20px 20px;
}

nav ul li:hover > ul {
	z-index: 10;
	height: 220px;
}

.navlinks{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	padding: 0 20px 0 20px;
	min-width: 460px;
}

.navlinks__listitem{
	padding: 10px 20px 8px 20px;
	background-color: #c1edf0;
	min-width: 130px;
	width: 250px;
	text-align: center;
	border-radius: 20px 20px 0px 0px;
}

.navlinks__listitem:hover{
	background-color: #eaf9fa;
}

.navlinks__listitem--current{
	background-color: #FFF;
	z-index: 1;
}
.navlinks__listitem--current:hover{
	background-color: #FFF;
}

.navlinks__link{
	font-family: "Venera", Tahoma, Verdana, sans-serif;
	text-decoration: none;
	color: #289aa4;
	font-weight: bolder;
	font-size: 14px;
}

.navlinks__sublink{
	text-decoration: none;
	color: #057b83;
}

.navlinks__sublink:hover{
	color: #289aa4;
}

.content{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	background-color: #FFF;
	border-radius: 20px;
	margin-top: -1em;
	padding: 20px;
	z-index: 3;
	box-shadow: 2px 2px 2px #279da5;
	min-width: 500px;
}

.content__header{
	font-family: Tahoma, Verdana, sans-serif;
	text-align: center;
	color: #279da5;
	font-weight: bolder;
	font-size: 28px;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.entryform{
	font-family: Tahoma, Verdana, sans-serif;
	color: #09282a;
	font-size: 18px;
}

.entryform__label{
	margin-top: 10px;
	text-align: center;
}

.entryform__textfield{
	width: 250px;
	padding: 10px 0px 5px 0px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    vertical-align: 2px;
    background-color: transparent;
    border-bottom: 2px solid #09282a;
    font-size: 18px;
    color: #09282a;
}

.entryform__textfield::-webkit-input-placeholder{
	color: #AAA;
	font-size: 16px;
}

.entryform__textfield::-moz-placeholder{
	color: #AAA;
	font-size: 18px;
}

.entryform__textfield:-ms-input-placeholder{
	color: #AAA;
	font-size: 16px;
}

.entryform__textfield:-moz-placeholder{
	color: #AAA;
	font-size: 16px;
}

.entryfield__submit{
	border: none;
	width: 250px;
	background-color: #279da5;
	padding: 5px;
	font-size: 14px;
	color: #fff;
}

.entryfield__submit:hover{
	background-color: #6ed8de;
}

.entryform__list{
	list-style: none;
}






