<script type="text/javascript" src="contestants_scripts.js"></script>

<div class="content">
	<h1 class="content__header">&#9733; Contestant Entry Form &#9733;</h1>
	<form id="entryform" class="entryform" method="post" action="/swimmers/new">
		<input type="text" name="Name" placeholder="Contestant name" class="entryform__textfield"><br>
		<input type="text" name="College" placeholder="Contestant college or university" class="entryform__textfield"><br>
		<input type="text" name="Address" placeholder="Contestant Address" class="entryform__textfield"><br>
		<label class="entryform__label">Events entered</label>
		<ul class="entryform__list">
			<li>
				<input type="checkbox" name="100BA"><label class="entryform__label">&nbsp;100 Backstroke</label>
			</li>
			<li>
				<input type="checkbox" name="200BA"><label class="entryform__label">&nbsp;200 Backstroke</label>
			</li>
			<li>
				<input type="checkbox" name="100BR"><label class="entryform__label">&nbsp;100 Breaststroke</label>
			</li>
			<li>
				<input type="checkbox" name="200BR"><label class="entryform__label">&nbsp;200 Breaststroke</label>
			</li>
			<li>
				<input type="checkbox" name="100BU"><label class="entryform__label">&nbsp;100 Butterfly</label>
			</li>
			<li>
				<input type="checkbox" name="200BU"><label class="entryform__label">&nbsp;200 Butterfly</label>
			</li>
			<li>
				<input type="checkbox" name="50FRE"><label class="entryform__label">&nbsp;50 Freestyle</label>
			</li>
			<li>
				<input type="checkbox" name="100FR"><label class="entryform__label">&nbsp;100 Freestyle</label>
			</li>
			<li>
				<input type="checkbox" name="200FR"><label class="entryform__label">&nbsp;200 Freestyle</label>
			</li>
			<li>
				<input type="checkbox" name="500FR"><label class="entryform__label">&nbsp;500 Freestyle</label>
			</li>
			<li>
				<input type="checkbox" name="1650F"><label class="entryform__label">&nbsp;1650 Freestyle</label>
			</li>
			<li>
				<input type="checkbox" name="400IM"><label class="entryform__label">&nbsp;400 Individual Medley</label>
			</li>
		</ul>
		<input class="entryform__submit" type="Submit" name="Submit">
	</form>

	<div id="successalert" class="modal__wrapper">
		<div class="modal">
			<div class="modal__box">
				<p>Success!</p>
			</div>
		</div>
	</div>

</div>