<div class="content l-content">
	<h1 class="content__header">100 Butterfly</h1>
	<form class="entryform" method="post" action="/event/times">

	<input type="hidden" name="event" value="100 Butterfly">

		<ol class="competitors__list">
			
			<% i = 0
			while i < @peoplein100BU.length %>


			<li class="competitors__listitem competitors__listitem--odd">
				<p class="competitors__name"><%= @peoplein100BU[i]  %></p><p class="competitors__name"><%= @colleges100BU[i] %></p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="<%= @iDs100BU[i]%>" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>

			<% i+=1
			end %>

		</ol>
		<input class="entryform__submit l-right" type="submit" name="Submit">
	</form>
</div>