<div class="content l-content">
	<h1 class="content__header">100 Butterfly</h1>
	<form class="entryform" method="post">
		<ol class="competitors__list">
			<li class="competitors__listitem competitors__listitem--odd">
				<p class="competitors__name">Martine</p><p class="competitors__name">College</p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>
			<li class="competitors__listitem competitors__listitem--even">
				<p class="competitors__name">Fred</p><p class="competitors__name">College</p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>
			<li class="competitors__listitem competitors__listitem--odd">
				<p class="competitors__name">Fran</p><p class="competitors__name">College</p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>
			<li class="competitors__listitem competitors__listitem--even">
				<p class="competitors__name">Marzipan</p><p class="competitors__name">College</p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>
			<li class="competitors__listitem competitors__listitem--odd">
				<p class="competitors__name">Jimbo</p><p class="competitors__name">College</p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>
			<li class="competitors__listitem competitors__listitem--even">
				<p class="competitors__name">Betsy</p><p class="competitors__name">College</p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>
		</ol>
		<input class="entryform__submit l-right" type="submit" name="Submit">
	</form>
</div>