<div class="content  l-content">
	<h1 class="content__header">200 Butterfly</h1>
	<form class="entryform" method="post">
	<input type="hidden" name="event" value="200 Butterfly">
		<ol class="competitors__list">
			
			<% i = 0
			while i < @peoplein200BU.length %>


			<li class="competitors__listitem competitors__listitem--odd">
				<p class="competitors__name"><%= @peoplein200BU[i]  %></p><p class="competitors__name"><%= @colleges200BU[i] %></p>
				<div class="competitors__time">
					<input class="competitors__textfield" type="text" name="UIDtime" placeholder="time"> 
					<p>sec.</p>
				</div>
			</li>

			<% i+=1
			end %>



		</ol>
		<input class="entryform__submit l-right" type="submit" name="Submit">
	</form>
</div>