<div class="content">
	<h1 class="content__header">500 Freestyle</h1>
	<form class="entryform">
		<ol class="entryform__list">
			<li class="competitors__odd">
				<label class="">NAME - COLLEGE - </label>
				<input class="entryform__textfield" type="text" name="UIDtime" placeholder="Time">
			</li>
			<li class="competitors__even">
				NAME - COLLEGE - <input class="entryform__textfield" type="text" name="UIDtime" placeholder="Time">
			</li>
			<li class="competitors__odd">
				NAME - COLLEGE - <input class="entryform__textfield" type="text" name="UIDtime" placeholder="Time">
			</li>
			<li class="competitors__even">
				NAME - COLLEGE - <input class="entryform__textfield" type="text" name="UIDtime" placeholder="Time">
			</li>
			<li class="competitors__odd">
				NAME - COLLEGE - <input class="entryform__textfield" type="text" name="UIDtime" placeholder="Time">
			</li>
			<li class="competitors__even">
				NAME - COLLEGE - <input class="entryform__textfield" type="text" name="UIDtime" placeholder="Time">
			</li>
		</ol>
		<input class="entryform__submit" type="submit" name="Submit">
	</form>
</div>