<!DOCTYPE html>
<html>
<head>
  <title>Entrant Submission</title>
  <link rel="stylesheet" type="text/css" href="globalstyles.css">
</head>
<body>
<nav class="nav">
  <h1 class="header">SwimTron</h1>
  <ul class="navlinks">
    <li class="navlinks__listitem navlinks__listitem--current">
      <a class="navlinks__link" href="entrant.html">Contestant</a>
    </li>
    <li class="navlinks__listitem">
      <a class="navlinks__link" href="events">Events</a>
      <ul>
        <li>
          <a class="navlinks__sublink" href="events/1650freestyle">1650 Freestyle</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/200freestyle">200 Freestyle</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/100backstroke">100 Backstroke</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/100breaststroke">100 Breaststroke</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/200butterfly">200 Butterfly</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/50freestyle">50 Freestyle</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/100freestyle">100 Freestyle</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/200backstroke">200 Backstroke</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/200breaststroke">200 Breaststroke</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/500Freestyle">500 Freestyle</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/100butterfly">100 Butterfly</a>
        </li>
        <li>
          <a class="navlinks__sublink" href="events/400medley">400 Individual Medley</a>
        </li>
      </ul>
    </li>
    <li class="navlinks__listitem">
      <a class="navlinks__link" href="/">Winners</a>
    </li>
  </ul>
</nav>


<div class="content">
  <h1 class="content__header">&#9733; Contestant Entry Form &#9733;</h1>
  <form class="entryform">
    <input type="text" name="Name" placeholder="Contestant name" class="entryform__textfield"><br>
    <input type="text" name="College" placeholder="Contestant college or university" class="entryform__textfield"><br><br>
    <label class="entryform__label">Events entered</label>
    <ul class="entryform__list">
      <li>
        <input type="checkbox" name="event"><label>&nbsp;1650 Freestyle</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;200 Freestyle</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;100 Backstroke</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;100 Breaststroke</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;200 Butterfly</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;50 Freestyle</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;100 Freestyle</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;200 Backstroke</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;200 Breaststroke</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;500 Freestyle</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;100 Butterfly</label>
      </li>
      <li>
        <input type="checkbox" name="event"><label>&nbsp;400 Individual Medley</label>
      </li>
    </ul>
    <input class="entryfield__submit" type="Submit" name="Submit">
  </form>
</div>

</body>
</html>