<div class="content">
	<h1 class="content__header">Winners</h1>
	<ul class="winners__list">
		<ol><h2>100 Freestyle</h1>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
		</ol>
		<ol><h2>200 Freestyle</h1>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
		</ol>
		<ol><h2>400 IM</h1>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
		</ol>
		<ol><h2>1650 Freestyle</h1>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
			<li class="">
				NAME - COLLEGE - TIME
			</li>
		</ol>
	</ul>
</div>