<div class="content l-content">
	<h1 class="content__header">Winners</h1>
	<ul class="winners__list">
		<ol class="winners__list"><h2 class="winners__eventhead">
		100 Backstroke
		</h1>
			<li class="winners__listitem winners__listitem--gold">
				<p class="winners__name">
				Fran
				</p>
				<p class="winners__name">
				College
				</p>
				<p class="winners__name">
				234.68 sec.
				</p>
			</li>

			<li class="winners__listitem winners__listitem--silver">
				<p class="winners__name">
				Dude2
				</p>
				<p class="winners__name">
				College2
				</p>
				<p class="winners__name">
				100 sec.
				</p>
			</li>

			<li class="winners__listitem  winners__listitem--bronze">
				<p class="winners__name">Fran</p><p class="winners__name">College</p>
				<p class="winners__name">234.68 sec.</p>
			</li>
		</ol>
		
	</ul>
</div>